@import url('https://fonts.googlepis.com/css2?family=Poppins&display=swap');
@import url('css/bootstrap.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    border-top: 2px solid goldenrod ;
}

.wrapper a{
    text-decoration: none;
    color: 2px solid goldenrod ;
}

.text-muted {
    font-size: 11px;
}

.login-page{
background-image: url('backgroundgold.png') ;
background-size: cover;
background-position: center; 
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
height: 80%;
}

.login-page form{
    width: 50%;
    max-width: 400px; 
    height: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 150px;
    display: flex;
    flex-direction: column; 
}

.btn-primary{
    width:100%;
    border: none;
    border-radius: 50px;
    background-color: #29f700;
    border-color: #29f700;
}

.form-control{
    color: rgba(0,0,0,.87);
    border-top-color: rgba(0,0,0,.42);
    border-bottom-color: rgba(0,0,0,.42);
    box-shadow: none !important;
    /*border: none;
    border-bottom: 1px solid;*/
    border-radius: 4px 4px 0 0;
}

h4{
   font-size: 2rem !important;
   font-weight: 700;
   align-items: center;
}

.form-label{
    font-weight: 700 !important;
}
@media only screen and (max-width: 600px){
    form{
        width: 100% !important;
    }
}

#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0.5rem 3rem 0.5rem 4rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: black;
}

.navbar .navbar-brand{
    font-size:25px;
    font-weight:400;
    color: goldenrod !important;
}


.navbar-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navbar>.container-fluid{
    display: flex;
    justify-content: space-between;
    flex-direction: row;   
}

form.search {
    display: flex;
    flex-direction: row;
    margin: 0 3em 0 0 !important;
    align-items: center;
    justify-content: center;
  } 

  .search > input {
    padding: 0.3em;
    outline: none;
    border: 1px solid #29f700;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search > button {
    background-color: #29f700;
    padding: 0.3em !important;
    border: 1px solid #29f700;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  @media only screen and (max-width: 1199px) {
    form.search {
      margin: 1rem 0 1rem 0 !important;
    }
  }

#navbarSupportedContent a{
    color:#ffff;
    text-decoration: none;
    border-bottom: 2px solid transparent; 
}

#navbarSupportedContent a:hover{
    border-bottom: 2px solid peru ;
}

#navbarSupportedContent> button{
    background:#29f700;
    width: 5rem;
    border-radius:15px;
}

/* .btn search{
    margin-top: 3px;
} */

.ms-auto sign{
    margin-right: 3px; 
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

/****Home****/

#home{
    background:linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4)), url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    flex-direction: column;
}

#home h1{
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:    0px 1px 0px #CCC,
                    0px 2px 0px #CCC,
                    0px 3px 0px #CCC,
                    0px 4px 0px #CCC,
                    0px 5px 0px #CCC,
                    0px 6px 0px #CCC,
                    0px 7px 0px #CCC,
}

#home p{
    font-size: 18px;
    color: #fff;
}

#home .input-group{
    width: 40%;
    height: 45px;
}

.signin{
    background-color: green!important;
    color: white !important;
    border-radius: 50px important;
    width: 10rem;
    box-shadow: 2px 4px 5px rgba(0,0.0. .3);
}

.signin button:hover{
    background-color: white;
}

.btn signin button{
    border-radius: 50px;
    width: 10rem;
}

/****About****/
#about{
    background: linear-gradient(to right, #ea1d6f, #eb466b 100%);
}

#about h1{
    font-weight: 800;
    font-size:50px;
    color: white;
}

#about p{
    color: white;
}

/****Wavy, Coily, Straight HairProducts****/

.hairs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 60px;
  }

section {
    padding: 2rem 4rem !important;
  }

#wavy, #coily, #hairproducts, #straight{
    background: #e5e5e5;
    text-align: center;
}


#wavy, #coily, #straight, #hairproducts h1{
    font-size:20px;
    letter-spacing: 1px;
    font-weight: 600;
}

#wavy, #coily, #straight, #hairproducts img{
    width: 100%;
    height: auto;
}
#wavy, #coily, #straight, #hairproducts {
    background: #e5e5e5;
    text-align: center;
}

/* .pro-container{
    display: grid;
    grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); 
  gap: 100px;
  /* min-height: 100vh; */

.card > img {
    /* width: 200px; */
    height: 250px;
    margin: 0 0 1em 0;
    border-radius: 20px !important;
  }

/* .pro-container img {
    width: 100%;
    height: auto;
  } */


/*#wavy, #coily, #hairproducts, #straight .pro-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    padding: 3em 5em;
    justify-content: center;
} */

.card{
    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     gap: 50px; */
    /* position: relative; */
    width: 250px;
    height: 400px;
    background-color: #e5e5e5 !important;
    border: none !important;
    /* border: 1px solid green; */
    box-shadow: 15px 20px 20px rgba(0,0,0,.3);
                inset: 4px 4px 10px white;
    border-radius: 20px !important;
    overflow: hidden;
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 2em;
    /* margin: 20px 60px ; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* float: left; */
}

.card:hover {
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.3);
                inset: -4px -4px 10px white;
    transition: 2s;
}

/****Contact****/
#contact img{
    height: 100%;
    width: 70%;
    margin-bottom: 20px; 
}

.box{
    width: 80% !important;
    /*background: red; */
    margin-top: 10px;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 20px; 
}

#contact input{
    margin: 12px, 0px;
}

#contact textarea{
    margin: 12px, 0px;
}

footer{
    width: 100%;
    height: 20px;
    background: rgba(0,0,0,.8);
    margin-top: -30px;
    text-align: center;
    color: white;
    padding: 3px;
}
























