<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta content="width=device-width, initial-scale=1.0" name="viewport">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">

 <title>HairSynC</title>
 <meta content="" name="description">
 <meta content="" name="keywords">

 <!-- Favicons -->
 <link href="{% static 'favicon.png' %}" rel="icon">

 <!-- Template Main CSS File -->
 {% load static %}
 <link rel="stylesheet" href="{% static 'store/style.css' %}">

 <!-- Link to Bootstrap -->
 <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
</head>

<body>
 <!--SignUp-->
 <div class="signup-page container bg-light">
    <div class="row mt-5">
      <div class="col-lg-4 bg-white m-auto rounded-top wrapper">
        <h2 class="text-center pt-3">SignUp Now</h2>
        <p class="text-center text-muted lead">It only takes a minute.</p>
        <!--Form starts-->
        <form method="post" action="{% url 'store:register' %}">
          {% csrf_token %}
          <div class="input-group mb-4">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Username" name="username" required>
          </div>
          <div class="input-group mb-4">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="First Name" name="first_name" required>
          </div>
          <div class="input-group mb-4">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Last Name" name="last_name" required>
          </div>
          <div class="input-group mb-4">
            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
            <input type="email" class="form-control" placeholder="Email" name="email" required>
          </div>
          <div class="input-group mb-4">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Password" name="password" required>
          </div>
          <div class="input-group mb-4">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password" required>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-success">SignUp Now</button>
            <p class="text-center text-muted mt-3">
              When You Click the Register Button, You Agree to our <a href="#">Terms and Conditions</a>
            </p>
            <p class="text-center">
              Already Have an Account ? <a href="{% url 'store/login' %}">Login Here</a>
            </p>
          </div>
        </form>
        <!--Form close-->
      </div>
    </div>
 </div>
</body>

</html>
