<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>HairSynC</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'store/images/favicon.png' %}" rel="icon">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">

    <!-- Link to Bootstrap -->
    <link href="{% static 'store/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'store/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'store/css/bootstrap-icons.css' %}" rel="stylesheet">
</head>

<body>
    <!--SignUp-->
    <div class="signup-page container bg-light">
        <div class="row mt-5">
            <div class="col-lg-4 bg-white m-auto rounded-top wrapper">
                <h2 class="text-center pt-3">Create an Account</h2>
                <p class="text-center text-muted lead">It only takes a minute.</p>

                <!-- Messages display -->
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                
                <!--Form starts-->
                <form method="post" action="{% url 'store:register' %}">
                    {% csrf_token %}
                    <div class="input-group mb-4">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Username" name="username" required>
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="First Name" name="first_name" required>
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Last Name" name="last_name" required>
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        <input type="email" class="form-control" placeholder="Email" name="email" required>
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Register  Here Now</button>
                        <p class="text-center text-muted mt-3">
                            When You Click the Register Button, You Agree to our <a href="#">Terms and Conditions</a>
                        </p>
                        <p class="text-center">
                            Already Have an Account ? <a href="{% url 'store:login_page' %}">Login Here</a>
                        </p>
                    </div>
                </form>
                <!--Form close-->
            </div>
        </div>
    </div>
    <!-- Include SweetAlert.js -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>
