<!DOCTYPE html>
<html lang="en">
    
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
    <title>HairSynC</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'store/images/favicon.png' %}" rel="icon">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
  <link href="{% static 'store/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'store/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'store/css/bootstrap-icons.css' %}" rel="stylesheet">


  <!-- Link to boostrap-->
  <link href="{% static 'store/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'store/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'store/css/bootstrap-icons.css' %}" rel="stylesheet">
  
</head>
<body>  
 <h1> SUCCESSFUL!!!</h1>
 <i><b>Thank you for your patronage...</b></i>
</body>
</html> 
