<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
  <title>HairSynC</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'store/images/favicon.png' %}" rel="icon">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'store/css/style.css' %}">

  <!-- Template Main CSS File 
  <link href="login.html" rel="" > 
  <link href="signup.html" rel="" > 
  <link href="home.html" rel="" >
  <link href="all Categories.html" rel="" >  
  <link href="straight.html" rel="" > 
  <link href="wavy.html" rel="">  
  <link href="coily.html" rel="" > 
  <link href="contact.html" rel="" >
  
-->

  <!-- Link to boostrap-->
  <link href="{% static 'store/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'store/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'store/css/bootstrap-icons.css' %}" rel="stylesheet">
  
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-xl navbar-dark" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'store:index' %}">
      <img class="d-inline-block align-text-top" src="{% static 'store/images/Logo.png' %}" alt="logo" width="30" height="24">HairSynC
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:index' %}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store:products' %}">All Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store:straight' %}">Straight Hairs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store:wavy' %}">Wavy Hairs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store:coily' %}">Coily Hairs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store:hair_products' %}">Hair Products</a>
          </li>
            <!-- <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>  -->
        </ul>
        <form class="search">
          <input type="search" placeholder="Search" aria-label="Search">
          <button type="submit">Search</button>
        </form>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:userprofile' %}">{{ user.username }} Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:login_page' %}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:register_form' %}">Sign Up</a>
        </li>
      {% endif %}
    </div>
 </div>
</nav>
  
  <!--Coily -->
<section id="coily">
  <div class="container-fluid m-5">
    <!-- <h1 class="text-center my-3">Coily Hairs</h1> -->
    <div class="hairs">
      <!-- <div class="col-lg-4 col-md-4 col-12"> -->
        <!-- <div>
            <div class="card">
              <img src="{% static 'store/images/pixiecurlsgold.png' %}" class="card-img-top">
              <div class="card-body text-center">
                <h5 class="card-title"><a href="{% url 'store:pixiecurls' %}">Pixie curls </a> $450</h5>
        
          <a href="#" class="btn signin">Add to Cart</a>
        </div>
      </div>
    </div>
    <div> -->
      <div class="card">
        <img src="{% static 'store/images/watercurl.png' %}" class="card-img-top">
        <div class="card-body text-center">
          <h5 class="card-title" style="color: goldenrod">Water curls $300</h5>
          <h6>12" watercurls with 13 x 2 Lace frontal
            </h6>
          
            <a href="#" class="btn signin">Add to Cart</a>
          </div>
        </div>
      </div>      
    </div>
  </div>
</section>

<!--Footer-->
<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx auto mt-3">
        <h5 class="mb-4 font-weight-bold text-warning"><a href="about.html" class="text-decoration-none text-warning">ABOUT HairSynC</a>
          <p> Built by Daraja & Fae </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Products</h5>
          <p>
            <a href="{% url 'store:products' %}" class="text-white" style="text-decoration: none;">All Products</a>
          </p>
          <p>
            <a href="{% url 'store:straight' %}" class="text-white" style="text-decoration: none;">Straight</a>
          </p>
          <p>
            <a href="{% url 'store:wavy' %}" class="text-white" style="text-decoration: none;">Wavy</a>
          </p>
          <p>
            <a href="{% url 'store:coily' %}" class="text-white" style="text-decoration: none;">Coily</a>
          </p>
          <p>
            <a href="{% url 'store:hair_products' %}" class="text-white" style="text-decoration: none;">Hair Products</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful Links</h5>
          <p>
            <a href="#" class="text-white" style="text-decoration: none;">Terms and Conditions</a>
          </p>
          <p>
            <a href="#" class="text-white" style="text-decoration: none;">Become an Affiliates</a>
          </p>
          <p>
            <a href="#" class="text-white" style="text-decoration: none;">Return Policy</a>
          </p>
          <p>
            <a href="#contact.html" class="text-white" style="text-decoration: none;">About Us</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
          <p>
            <i class="fas fa-home mr-3"></i>Lagos, Nigeria
          </p>
          <p>
            <i class="fas fa-envelope mr-3"></i>HairSynC@gmail.com
          </p>
          <p>
            <i class="fas fa-phone mr-3"></i>+234-7031-302-044
          </p>
          <p>
            <i class="fas fa-print mr-3"></i>+234-7032-179-028
          </p>
        </div>
    </div>
    <hr class="mb-4">
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p>Copyrights ©2024 All rights reserved by:
          <a href="#" style="text-decoration: none;">
            <strong class="text-warning">HairSynC</strong>
          </a></p>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/NwoguGlory1/HairSynC" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-github"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

{% if messages %}
<!-- Iterate over Django messages -->
{% for message in messages %}
    <!-- Display messages using SweetAlert.js -->
    <script>
        Swal.fire({
            icon: '{{ message.tags }}', // Use the message tags as SweetAlert.js icons
            title: '{{ message.tags|capfirst }}', // Capitalize the first letter of the tag
            text: '{{ message }}',
            timer: 10000, // Automatically close after 10 seconds
            showConfirmButton: false, // Do not show a confirmation button
            position: 'top-end', // Show notifications at the top-end
            // Add more options as needed
        });
    </script>
{% endfor %}
{% endif %}
<!-- Include SweetAlert.js -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="{% static 'store/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"></script>
</body>
</html>